.top-nav-bar {
  background-color: #0a683f; /* Dark green background color */
  color: white;
  padding: 10px 0; /* Adjust padding to match overall design */
}

.top-nav-container {
  display: flex;
  width: 100%;
  max-width: 1200px; /* Adjust to match the width of the main content */
  margin: 0 auto; /* Center the container */
  justify-content: space-between; /* Evenly distribute space */
  align-items: center; /* Vertically center the items */
  padding: 0 20px; /* Add some horizontal padding for a cleaner look */
}

.top-nav-left {
  display: flex;
  gap: 20px; /* Space between contact details */
}

.top-nav-left span {
  display: flex;
  align-items: center;
}

.top-nav-left span svg {
  margin-right: 8px; /* Add space between icon and text */
}

.top-nav-right {
  display: flex;
  align-items: center;
}

.topnav-user-icon {
  color: #fff;
  font-size: 1.8rem; /* Consistent size with Header icons */
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.topnav-user-icon:hover {
  transform: scale(1.1);
  color: #d4d4d4; /* Lighten on hover for interactivity */
}
